* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  padding: 2em;
  background-color: #F5B841;
}

.container {
  padding: 1.5em;
  width: 700px;
  text-align: center;
}

h1 {
  margin: 1em 0;
}

ul {
  list-style: none;
  margin: 1em 0;
  font-size: 20px;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

li {
  padding: 0.5em 0.75em;
  text-align: left;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  font-size: inherit;
  border-radius: 5px;
  padding: 0.25em 0.75em;
}

input[type="text"] {
  width: 80%;
  border: none;
}

input[type = 'button']{
  border: none;
}

input[type = 'button']:active, input[type = 'button']:hover{
  opacity: 0.75;
}

.add-btn {
  font-weight: bold;
  background-color: #F4FF52;
}

.list-btn {
  font-size: 16px;
  display: flex;
  gap: 1em;
}

.done-btn{
  color: #fff;
  background-color: #53FF45;
}

.del-btn{
  background-color: #6A041D;
  color: #fff;
}

.complete {
  text-decoration: line-through;
}
